<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>SKAdNetworkItems</key>
    <array>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>cstr6suwn9.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>v9wttpbfk9.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>n38lu8286q.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>7ug5zh24hu.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>m8dbw4sv7c.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>9t245vhmpl.skadnetwork</string>
      </dict>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>DTPlatformVersion</key>
    <string>26.2</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>com.openai.chatgpt.conversation</string>
      <string>com.openai.chatgpt.codex</string>
      <string>INSendMessageIntent</string>
    </array>
    <key>DTSDKName</key>
    <string>iphoneos26.2</string>
    <key>CFBundleName</key>
    <string>ChatGPT</string>
    <key>INAlternativeAppNames</key>
    <array>
      <dict>
        <key>INAlternativeAppName</key>
        <string>Chat GPT</string>
        <key>INAlternativeAppNamePronunciationHint</key>
        <string>chat gee pee tee</string>
      </dict>
      <dict>
        <key>INAlternativeAppName</key>
        <string>GPT</string>
        <key>INAlternativeAppNamePronunciationHint</key>
        <string>gee pee tee</string>
      </dict>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This lets you send photos from your library to ChatGPT.</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>UILaunchScreen</key>
    <dict>
      <key>UIColorName</key>
      <string>LaunchImageBackground</string>
    </dict>
    <key>DTAppStoreToolsBuild</key>
    <string>17C53</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>ChatGPT</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>maps</string>
      <string>comgooglemaps</string>
      <string>googlegmail</string>
      <string>chatgpt-enterprise</string>
      <string>ms-outlook</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>ChatGPT uses your precise location to provide more relevant information, like nearby recommendations, local news, and weather.</string>
    <key>RTCAppGroupIdentifier</key>
    <string>group.com.openai.chat</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>voip</string>
      <string>remote-notification</string>
    </array>
    <key>DTSDKBuild</key>
    <string>23C53</string>
    <key>NSCameraUsageDescription</key>
    <string>ChatGPT uses your camera to take photos to use in your chats.</string>
    <key>CFBundleShortVersionString</key>
    <string>1.2026.013</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
    <true/>
    <key>BuildMachineOSBuild</key>
    <string>25A362</string>
    <key>DTPlatformBuild</key>
    <string>23C53</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>MinimumOSVersion</key>
    <string>17.0</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>DTXcodeBuild</key>
    <string>17C52</string>
    <key>CFBundleVersion</key>
    <string>21084174615</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>ChatGPT lets you save images from your chats.</string>
    <key>NSSupportsLiveActivities</key>
    <true/>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>RTCScreenSharingExtension</key>
    <string>com.openai.chat.Broadcast</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>ChatGPT uses your microphone for voice mode and dictation.</string>
    <key>CFBundleIdentifier</key>
    <string>com.openai.chat</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
      <key>UIApplicationSupportsMultipleScenes</key>
      <false/>
      <key>UISceneConfigurations</key>
      <dict/>
    </dict>
    <key>DTXcode</key>
    <string>2620</string>
    <key>LSHasLocalizedDisplayName</key>
    <true/>
    <key>NSSupportsLiveActivitiesFrequentUpdates</key>
    <true/>
    <key>CFBundleExecutable</key>
    <string>ChatGPT</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>Allow ChatGPT to log information into your Health app to help track your activity and wellness.</string>
    <key>UISupportedInterfaceOrientations~iphone</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
          <string>AppIcon76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSHealthShareUsageDescription</key>
    <string>Share your Health data with ChatGPT so it can analyze and answer questions about your activity and wellness.</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>auth0</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.openai.chat</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.openai.chat</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>openai</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.openai.chat</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>chatgpt</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
