<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SinfPaths</key>
	<array>
		<string>SC_Info/ChatGPT.sinf</string>
	</array>
	<key>SinfReplicationPaths</key>
	<array>
		<string>Frameworks/Assets.framework/SC_Info/Assets.sinf</string>
		<string>Frameworks/ChatGPT.framework/SC_Info/ChatGPT.sinf</string>
		<string>Frameworks/LiveKitWebRTC.framework/SC_Info/LiveKitWebRTC.sinf</string>
		<string>Frameworks/Lottie.framework/SC_Info/Lottie.sinf</string>
		<string>Frameworks/Obfuscation_3BF67353D2D96A88_PackageProduct.framework/SC_Info/Obfuscation_3BF67353D2D96A88_PackageProduct.sinf</string>
		<string>Frameworks/PlatformSupportToolbelt_-2E39AD69B3664B62_PackageProduct.framework/SC_Info/PlatformSupportToolbelt_-2E39AD69B3664B62_PackageProduct.sinf</string>
		<string>Frameworks/ScreenRecording_4DF1B615F876FB0C_PackageProduct.framework/SC_Info/ScreenRecording_4DF1B615F876FB0C_PackageProduct.sinf</string>
		<string>Frameworks/Sentry.framework/SC_Info/Sentry.sinf</string>
		<string>PlugIns/ChatGPTSearchSafariExtension.appex/SC_Info/ChatGPTSearchSafariExtension.sinf</string>
		<string>PlugIns/NotificationServiceExtension.appex/SC_Info/NotificationServiceExtension.sinf</string>
		<string>PlugIns/ShareExtension.appex/SC_Info/ShareExtension.sinf</string>
		<string>PlugIns/VoiceScreenSharing.appex/SC_Info/VoiceScreenSharing.sinf</string>
		<string>PlugIns/Widgets.appex/SC_Info/Widgets.sinf</string>
		<string>SC_Info/ChatGPT.sinf</string>
	</array>
</dict>
</plist>
